/* Fonte padrão */
.kaisei-harunoumi-regular {
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.kaisei-harunoumi-medium {
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 500;
    font-style: normal;
}
  
.kaisei-harunoumi-bold {
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 700;
    font-style: normal;
}

:root {
    --fonte-k: 'Kaisei HarunoUmi', serif;
}

:root {
    --cor-fundo-branco: #ffffff;
    --cor-fundo-preto:black;
    --cor-fundo-transparente: rgba(0, 0, 0, 0);
    --cor-texto-preto: #000000;
    --cor-texto-branco: #ffffff;
    --espaco-item-menu: 45px;
    --largura-wrapper: 95%;
    --cor-hover :#ccc;
    --altura-linha: 2px;
    --cor-h1-hover: rgba(255, 255, 255, 0.738); 
}
/* FIM da fonte padrão */


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho */
.header1 {
    background-color: var(--cor-fundo-preto);
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 20px 0;
}

.header1 .wrapper {
    width: var(--largura-wrapper);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header1 .logo a {
    color: var(--cor-texto-branco);
    text-decoration: none;
    font-size: 36px;
    transition: color 0.3s;
}

.header1 .logo a:hover {
    color: var(--cor-h1-hover);
}

.header1 .menu ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.header1 .menu ul li {
    margin-left: var(--espaco-item-menu);
}


.header1 .menu ul li a {
    color: var(--cor-texto-branco);
    font-size: 19px;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s, transform 0.3s;
}

.header1 .menu ul li a:hover {
    color: var(--cor-hover);
    transform: scale(1.05);
}

.header1 .menu ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--altura-linha);
    background-color: var(--cor-texto-branco);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.header1 .menu ul li a:hover::before {
    transform: scaleX(1);
}
/* Fim do cabeçalho */

body {
    font-family: var(--fonte-k);
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
  }

  header {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 1em;
  }

  .titulo {
    background-color: #3b3c3d;
    padding: 1.1em;
    list-style-type: none;
    display: flex;
    margin: 0;
    color: #fff;
    font-size:x-small;
    text-decoration: none;
  }

  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
  }

  .fractal-animation {
    width: 100%;
    height: 300px;
    margin-bottom: 2em;
  }

  .blog-post {
    background-color: #fff;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }



/* PUBLICAÇÕES */
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem 0;
  }
  
  .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }
  
  .gallery-item:hover {
    transform: scale(1.05);
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .gallery-item:hover .overlay {
    height: 100%;
  }
  
  .overlay-content {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
  }
/* FIM DAS PUBLICAÇÕES */



/* Aba de comentários */
.comentarios {
    display: grid;
    gap: 30px;
    max-width: 1200px;
    padding: 20px;
}

.card {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.usuario-icone {
    font-size: 30px;
    margin-right: 10px;
}

.nome {
    font-size: 18px;
    font-weight: bold;
}

.estrelas {
    margin-left: auto;
    font-size: 16px;
    color: #ffd700;
}

.txt_avaliacao {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Fim da aba de comentários */

footer {
  background-color: black;
}
.apps {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 10px;
  padding-left: 530px;
}

.apps .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.apps .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: black;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.apps .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: black;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.apps .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.apps .icon:hover span,
.apps .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.foto {
  opacity: 0;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
  transform: translateY(20px);
}