*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: var(--fonte-p);
}
.kaisei-harunoumi-regular {
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kaisei-harunoumi-medium {
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .kaisei-harunoumi-bold {
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 700;
    font-style: normal;
  }
:root{
    --fonte-p: 'Kaisei HarunoUmi', serif;
}
.fonte{
    font-family: var(--fonte-p);
}
.header1 {
    background-color: #ffffff;
}

.header1 .wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header1 h1.nuances {
    color: #000000;
    margin: 0;
}

.header1 .menu ul li a {
    color: #000000; 
}


.header2 {
    background-color: #000000; 
}

.header2 .wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header2 h1.nuances {
    color: #ffffff; 
    margin: 0;
}

.header2 .menu ul li a {
    color: #ffffff; 
}


.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin-left: 20px;
}

.menu ul li a {
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    padding: 0 20px;
}
h1{
    font-size: 33px;
    padding: 20px;
}
.telefone{
    font-size: 13px;
    padding-left: 20px;
}
h2{
    font-size: 26px;
    padding: 20px;
}
.localizacao{
    font-size: 13px;
    padding-left: 25px;

}
.formulario{
    font-size: 20px;
    flex-direction: column;
    text-align: center;
    margin-right:80px;

}
.bet{
    display: flex;
    justify-content: space-between;
}
.info{
    padding: 50px;
    flex-direction: column;
}
.dados{
    padding: 10px;
    margin-top: 50px;
    margin-left: 30px;
}
.info2{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px;
    font-family: sans-serif, Helvetica, Arial ;
}
.info2:hover{   
    border-color: rgb(8, 121, 121);
    background-color: rgb(230, 230, 230);
}
.msgBox{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: sans-serif, Helvetica, Arial ;
    padding: 50px;
}
.nome{
    margin: 5px;
}
.email{
    margin: 5px;
}
.tel{
    margin: 5px;
}
.assunto{
    margin: 5px;
}
.mensagem{
    margin-bottom: 10px;
}
.enviar{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    background-color:black;
    border-radius: 12px;
    border-color: #8e8cb7;
    transition: all 0.3s ease;
}
.enviar:hover{
    transform: scale(1.1);
    background-color: rgb(32, 31, 31);
}