* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.header1 {
    background-color: #ffffff;
}

.header1 .wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header1 h1.nuances {
    color: #000000;
    margin: 0;
}

.header1 .menu ul li a {
    color: #000000; 
}


.header2 {
    background-color: #000000; 
}

.header2 .wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header2 h1.nuances {
    color: #ffffff; 
    margin: 0;
}

.header2 .menu ul li a {
    color: #ffffff; 
}


.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin-left: 20px;
}

.menu ul li a {
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    padding: 0 20px;
}
