:root {
    --cor-fundo-branco: #ffffff;
    --cor-fundo-transparente: rgba(0, 0, 0, 0);
    --cor-texto-preto: #000000;
    --cor-texto-branco: #ffffff;
    --espaco-item-menu: 45px;
    --largura-wrapper: 95%;
    --cor-hover: #ccc;
    --altura-linha: 2px;
    --cor-h1-hover: rgba(255, 255, 255, 0.738); 
    --cor-h1-hover2: rgba(47, 47, 47, 0.738); 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.kaisei-harunoumi-regular {
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 400;
    font-style: normal;
}

.kaisei-harunoumi-medium {
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 500;
    font-style: normal;
}

.kaisei-harunoumi-bold {
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 700;
    font-style: normal;
}

.banner {
    height: 100vh;
    background-image: url(/assets/img/p&b19.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* HEADER */
.header1 {
    background-color: var(--cor-fundo-branco);
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 20px 0;
}

.header1 .wrapper {
    width: var(--largura-wrapper);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header1 .logo a {
    color: var(--cor-texto-preto);
    text-decoration: none;
    font-size: 36px;
    transition: color 0.3s;
}

.header1 .logo a:hover {
    color: var(--cor-h1-hover);
}

.header1 .menu ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.header1 .menu ul li {
    margin-left: var(--espaco-item-menu);
}


.header1 .menu ul li a {
    color: var(--cor-texto-preto);
    font-size: 19px;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s, transform 0.3s;
}

.header1 .menu ul li a:hover {
    color: var(--cor-hover);
    transform: scale(1.05);
}

.header1 .menu ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--altura-linha);
    background-color: var(--cor-texto-preto);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.header1 .menu ul li a:hover::before {
    transform: scaleX(1);
}

.header2 {
    background-color: var(--cor-fundo-transparente);
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 20px 0;
}

.header2 .wrapper {
    width: var(--largura-wrapper);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header2 .logo a {
    color: var(--cor-texto-branco);
    text-decoration: none;
    font-size: 36px;
    transition: color 0.3s;
}

.header2 .logo a:hover {
    color: var(--cor-h1-hover);
}

.header2 .menu ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.header2 .menu ul li {
    margin-left: var(--espaco-item-menu);
}


.header2 .menu ul li a {
    color: var(--cor-texto-branco);
    font-size: 19px;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s, transform 0.3s;
}

.header2 .menu ul li a:hover {
    color: var(--cor-hover);
    transform: scale(1.05);
}

.header2 .menu ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--altura-linha);
    background-color: var(--cor-texto-branco);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.header2 .menu ul li a:hover::before {
    transform: scaleX(1);
}
/* FIM DO HEADER */

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/assets/img/lobao.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
    
    

.styled-button {
    padding: 15px 30px;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
    outline: none;
    font-family: "Kaisei HarunoUmi", serif;
    text-decoration: none;
}

.styled-button:hover {
    background-color: #fff;
    color: #000;
}


.espaco-branco{
    padding: 3em
}

.section3{
    height: 70vh;

}

.container{
    display: flex;
    justify-content: center;

}

.frase{
    font-family: "Kaisei HarunoUmi", serif;
    color:var(--cor-texto-preto);
    padding-bottom: 3em;
}

.img1 {
    display: inline-block; 
    padding: 0px; 
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.img1:hover{
    transform: scale(1.02);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.img2 {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px; 
}

.img1 img {
    width: 84vh; 
    height: auto;
}

.section4 {
    background-color: #000;
    padding: 40px;
}

.section4 .content {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
}

.img1 img {
    width: 400px;
    height: auto;
}

.text-container {
    max-width: 400px;
}

.text {
    font-size: 20px;
    color: #fff;
    line-height: 1.5;
}


/* FOOTER */

footer {
    background-color: black;
}
.apps {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 10px;
    padding-left: 530px;
  }
  
  .apps .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .apps .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: black;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .apps .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: black;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .apps .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .apps .icon:hover span,
  .apps .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }

.foto {
    opacity: 0;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
    transform: translateY(20px);
}

.foto.visible {
    opacity: 1;
    transform: translateY(0);
}

  

/* FIM DO FOOTER */

